# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

/data/
/model/

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

playground/data/eval
playground/tests
playground/analysis/

/test
/results/

# debug
/bin_waste/
/scripts/model_composition/eval/